<footer class="text-center bg-dark fixed-bottom">
    <span class="text-light">► 
        <span class="text-white" id="footerDate"></span>
        <span class="text-secondary">Icons made by <a href="https://www.freepik.com" title="Freepik" class="text-white" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" class="text-white" target="_blank">www.flaticon.com</a></span>
    </span>
</footer>